@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
/**|======================================
/**| Decorated Links for Socials
/**|======================================
*/
.decoratedLink {
  color: inherit;
  transition: color 150ms ease-in-out;
}

.decoratedLink:hover {
  color: orangered;

}

/*
/**|======================================
/**| Hero Slider
/**|======================================
*/
.hero-slider-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.slider {
  margin-bottom: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.language:hover,
.language:focus {
  transform: scale(1.5);
}